body{
    background:url('images/5648789-blue-background-images.jpg');
}
#maincontainer {
    display: grid;
    grid-template-columns: 12% 12% 12% 12%;
    grid-gap: 6px;
    margin-top: 80px;
    justify-content: center;
}

img {
    margin-top: 10px;
    width: 80%;
    height: 69px;
    object-fit: contain;
}
#maincontainer > div{
    height: 100px;
    border-radius: 20px;

}

.timer{
   font-size: 20px;
}
.timerout h1{
    margin: 0px;
    font-size: 20px;
}
  
.timer .text{
    border-width: 0px;
    font-size: 20px;
    padding: 0px;
    width: 100%;
    height: 10px;
}
.time{
    display: flex;
}
.timerout{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 40px;
}
#txt{
    font-size: 23px
}
.stars_rating{
    margin-top: 25px;
}
.stars_rating .checked{
    color: orange;
    font-size: 20px;
}
